# Domain 
BASE_URL="http://localhost:3000"

# Database (PostgreSQL)
DATABASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# OAuth Providers (Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Email (Resend)
RESEND_API_KEY=""
EMAIL_SENDER_NAME=""
EMAIL_SENDER_ADDRESS=""

# Subscriptions (Stripe)
STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""

NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=""

NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID=""
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID=""
